html
{
	font-size: 62.5%;
}

*{
	box-sizing: border-box;
}


[class*="container"]{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

[class*="-mobile-1"] > * {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: calc(100%);
}

@media screen and (min-width: 600px) {

/*tablet grid 6*/

	[class*="container"]{
		flex-direction: row;
	}


	[class*="-tablette"] > * {
		flex-basis: calc(100% * 1/12 - 1rem);
		margin-left: 1rem;
	}


	[class*="-tablette"] > [class*="-tab-2"] {
		flex-basis: calc(100% * 1/6 - 1rem);
	}

	[class*="-tablette"] > [class*="-tab-3"] {
		flex-basis: calc(100% * 1/4 - 1rem);
	}

	[class*="-tablette"] > [class*="-tab-4"] {
		flex-basis: calc(100% * 1/3 - 1rem);
	}

	[class*="-tablette"] > [class*="-tab-5"] {
		flex-basis: calc(100% * 5/12 - 1rem);
	}

	[class*="-tablette"] > [class*="-tab-6"] {
		flex-basis: calc(100% * 1/2 - 1rem);
	}

	[class*="-tablette"] > [class*="-tab-7"] {
		flex-basis: calc(100% * 7/12 - 1rem);
	}

	[class*="-tablette"] > [class*="-tab-8"] {
		flex-basis: calc(100% * 2/3 - 1rem);
	}

	[class*="-tablette"] > [class*="-tab-9"] {
		flex-basis: calc(100% * 3/4 - 1rem);
	}

	[class*="-tablette"] > [class*="-tab-10"] {
		flex-basis: calc(100% * 5/6 - 1rem);
	}

	[class*="-tablette"] > [class*="-tab-11"] {
		flex-basis: calc(100% * 11/12 - 1rem);
	}

	[class*="-tablette"] > [class*="-tab-12"] {
		flex-basis: 100%;
	}
}

@media screen and (min-width: 900px) {
	
/*desktop grid 12*/

	[class*="-desktop-12"]{
		max-width: 1024px;
	}
	
	[class*="-desktop-12"] > * {
		flex-grow: 0;
		flex-basis: calc(100% * 1/12 - 2rem);
		margin-left: 2rem;
	}

	[class*="-desktop-12"] > [class*="-big-2"] {
		flex-basis: calc(100% * 1/6 - 2rem);
	}

	[class*="-desktop-12"] > [class*="-big-3"] {
		flex-basis: calc(100% * 1/4 - 2rem);
	}

	[class*="-desktop-12"] > [class*="-big-4"] {
		flex-basis: calc(100% * 1/3 - 2rem);
	}

	[class*="-desktop-12"] > [class*="-big-5"] {
		flex-basis: calc(100% * 5/12 - 2rem);
	}

	[class*="-desktop-12"] > [class*="-big-6"] {
		flex-basis: calc(100% * 1/2 - 2rem);
	}

	[class*="-desktop-12"] > [class*="-big-7"] {
		flex-basis: calc(100% * 7/12 - 2rem);
	}

	[class*="-desktop-12"] > [class*="-big-8"] {
		flex-basis: calc(100% * 2/3 - 2rem);
	}

	[class*="-desktop-12"] > [class*="-big-9"] {
		flex-basis: calc(100% * 3/4 - 2rem);
	}

	[class*="-desktop-12"] > [class*="-big-10"] {
		flex-basis: calc(100% * 5/6 - 2rem);
	}

	[class*="-desktop-12"] > [class*="-big-11"] {
		flex-basis: calc(100% * 11/12 - 2rem);
	}

	[class*="-desktop-12"] > [class*="-big-12"] {
		flex-basis: 100%;
	}
}