body{
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 1.2rem;
	width: 100%;
	margin:0;
}

li{
	list-style-type: none;
}

hr{
	min-width: 100%;
	margin: 1.5rem 0;
}

a{
	text-decoration: none;
	color: #552a20;
}

img{
	max-width: 100%;
}

.logo{
	text-align: center;
}

.form input{
	float: left;
}

.form{
	width:24rem;
	margin: 0 auto;
}

input{
	border: 1px solid grey;
	border-radius: 0.3rem;
	height: 3rem;
}

.search{
	width: 20rem;
	padding: 1rem;
}

.ok{
	width: 4rem;
}

.green, .menu2 	a:hover, article ul{
	background-color: #AAD5DF;
}


.menu, .menu2 li{
	display: none;
	text-align: center;
}

.menu ul li a:hover{
	border-bottom: 2px solid #552a20;
}

.menu2 h2{
	border-bottom: 0.1rem solid #AAD5DF;
	max-width: 90%;
	padding:0.5rem;
}

.menu2 h2 a{
	display: block;
}

.filAriane p{
	font-size: 1.5rem;
	padding: 0 1rem;

}

.brun, hr{
	color: #A38A7C;
	opacity: 0.5rem;
}

article{
	border: 0.1rem solid #AAD5DF;
	padding: 1.5rem;
}

.filAriane p, article ul li, .descrition .green{
	color: #FFF;
}

article ul, .descrition .green{
	padding:0.2rem;
}

article ul li{
	font-size: 1.3rem;
	text-align: right;
}

article a > img, .imagebox > img:first-of-type{
	display:none;
}


h3{
	font-size: 1.5rem;
	color: #AAD5DF;
}

h4{
	font-size: 1.4rem;
}

section{
	margin-top: -1rem;
}

section > *{
	margin-top: 1rem;
}

.imagebox{
	order:1;
}

.imagebox > img{
	object-fit: contain;
	max-width: 100%;
}

.descrition{
	padding: 1rem;
}

.descrition .green{
	width: 50%;
}

.clearfix{
	clear: both;
}

@media screen and (min-width: 600px){

	.menu, .menu2 li{
		display: flex;
	}

	hr{
		margin-bottom: 0;
	}

	.menu ul{
		justify-content: space-around;
		padding: 0.5rem;
	}

	header form{
		justify-content: flex-end;
	}

	header form div
	{
		margin: auto 0;
	}

	section{
		margin-top:0;
	}
	article a > img{
		display:block;
	}

	.imagebox{
		justify-content:space-around;
		order:0;
	}

	.imagebox > img{
		object-fit: contain;
		max-width: 20%;
	}
}

@media screen and (min-width: 900px){
	body{
		justify-content:center;
	}

	header, main,section{
		margin-left: -2rem;
	}

	.filAriane{
		max-width: 100%;
		justify-content: center;
	}

	article, article a > *{
		transition-property: all;
		transition-duration: 1s;
		transition-delay: 1ms;
		transition-timing-function: ease-out;
	}

	article:hover
	{
		box-shadow: 0px 0px 1rem #552a20;
	}

	article ul{
		width: 0px;
		visibility:hidden;
	}

	article:hover ul{
		width:100%;
		visibility: visible;
	}

	.imagebox > img:first-of-type{
		display: flex;
		max-width: 80%;
		max-height: 320px;
		margin: auto;
	}

	.imagebox > img{
		object-fit: contain;
		max-width: 20%;
		max-height: 100px;
	}

}